:root {
  --primary-black: #212121;
  --secondary-blue: #2196f3;
  --third-grey: #757575;
  --background: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-black);
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  flex-basis: 1200px;
  display: flex;
  flex-direction: column;
}
.container-portfolio {
  flex-basis: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo {
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  color: #000000;
  text-decoration: none;
}
.logo span {
  color: var(--secondary-blue);
}
.header-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-black);
}
.header-link:hover,
.header-link:focus {
  color: var(--secondary-blue);
}

.header-link-active {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-blue);
  text-decoration: none;
}
.header-contact {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-grey);
}
.header-contact:hover,
.header-contact:focus {
  color: var(--secondary-blue);
}
.footer-contact {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.6);
}
.footer-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.nav-button {
  border: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  margin-left: 3px;
  margin-right: 3px;
}
.nav-button:hover,
.nav-button:focus {
  background-color: var(--secondary-blue);
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.img-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.img-description {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--third-grey);
}
.section {
  padding-top: 94px;
}
/* header*/
.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #ececec;
  justify-content: center;
}

.navigator-container {
  display: flex;
  align-items: center;
  gap: 47px;
  list-style: none;
  margin-left: 93px;
  padding: 0;
}
.contact-container {
  margin-left: 371px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  list-style: none;
  gap: 50px;
  padding: 0;
}

/* main header */
.main-header-box {
  height: 600px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-header-box h1 {
  width: 696px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.main-header-box button {
  width: 200px;
  height: 50px;
  background: var(--secondary-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.main-header-box button:hover {
  cursor: pointer;
}
/* main content */
.first-section {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--third-grey);
  gap: 30px;
  margin: 0;
}
.first-section h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--primary-black);
}
.first-section li {
  width: 270px;
}
.second-section {
  padding-left: 0;
}
.second-section h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-black);
  margin-bottom: 50px;
  margin-top: 0;
}
.second-section-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding-bottom: 94px;
}
.third-section {
  padding-left: 0;
  background-color: #f5f4fa;
  padding-bottom: 94px;
}
.third-section h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-black);
  margin-bottom: 50px;
  margin-top: 0;
}
.third-section-team {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-grey);
}
.third-section-team h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-black);
  margin-top: 30px;
  margin-bottom: 10px;
}
.figure-box {
  width: 270px;
  height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.footer-container {
  background-color: var(--background);
  display: flex;
  justify-content: flex-start;
  padding: 50px 100px;
}
.footer-container a {
  color: #ffffff;
}
.footer-content {
  display: flex;
  flex-direction: column;
}
.footer-information {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
}
.footer-information a {
  color: rgba(255, 255, 255, 0.6);
}
.container-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  padding-bottom: 94px;
}
.container-images figure {
  margin: 0;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.container-images figcaption {
  padding-left: 24px;
}
.container-images .img-title {
  padding-bottom: 4px;
  padding-top: 20px;
  margin: 0;
}
.container-images .img-description {
  padding-bottom: 20px;
  margin: 0;
}
